*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width:80%;
    margin:auto;
}

.members{
    width:80%;
    margin:auto;
    font-family: cursive;
    font-size: 20px;
    float:inline-start ;
}

header{
    background: url("../goldabs.jpg");
    height: 200px;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center center;
    position: relative;
}

.navBar{
    float: center;
    list-style:none;
    margin-top: 30px;
    background-color:black;
    
}

.navBar li{
    display:inline-block;
}

.navBar li a{
    color: #fff;
    text-decoration:none;
    padding: 10px 50px;
    font-size: 30px;
    font-family: cursive;
}

.navBar li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width:75px;
    float:left;
    height: auto;
}
.logo h1{
    font-family:cursive;
    font-size: 75px;
}


#photoBB{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
    height:300px;
}

#desriptionBB{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#photoCf{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
    height:auto;

}

#desriptionCF{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#photoMS{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionMS{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
#photoMT{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionMT{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
#photoAJ{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionAJ{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
#photoCJ{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionCJ{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
#photoDB{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionDB{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
#photoDH{
    float:left;
    width:30%;
    padding:0 30px;
    box-sizing: border-box;
}

#desriptionDH{
    float:right;
    width:70%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
